/* 
Abhisheksinh Gohil – 1002060621, Jainam Gandhi – 1002080417, Manali Gandhi - 1002084355, Nadella Kailash - 1002065981, Ragini Gopidi - 1002036432
*/
.card {
    width: 190px;
    height: 270px;
    background-color: white;
    margin: 20px;
    border-radius: 3px;
    color: #101728;
    position: relative;
}

.desc-div {
    margin-top: 12px;
    overflow: scroll;
    height: 150px;
}

.card-items {
    padding: 12px;
    text-align: left;
}

.card-date {
    text-align: end;
    bottom: 0;
    right: 0;
    position: absolute;
    padding: 12px;
    font-size: small;
}

.approve-btn {
    bottom: 0;
    width: 100%;
    height: 40px;
    background-color: rgba(1, 184, 1, 0.666);
    border-radius: 3px;
    border: 0;
    margin-top: 12px;
}