/* 
Abhisheksinh Gohil – 1002060621, Jainam Gandhi – 1002080417, Manali Gandhi - 1002084355, Nadella Kailash - 1002065981, Ragini Gopidi - 1002036432
*/
.footer {
    display: block;
    width: 100%;
    height: 200px;
    background-color: #000000;
    color: white;
}

.footer-links {
    display: flex;
    font-size: x-small;
    align-items: center;
    justify-content: center;
}

.footer-links-title {
    margin: 10px;
    margin-right: 20px;
    margin-left: 20px;
    padding: 10px;
    color: white;
}
.icons {
    margin: 10px;
    padding: 10px;
    color: white;
}

.heading {
    margin-top: -2px;
    padding-left: 10px;
    font-size: 22px;
}