/* 
Abhisheksinh Gohil – 1002060621, Jainam Gandhi – 1002080417, Manali Gandhi - 1002084355, Nadella Kailash - 1002065981, Ragini Gopidi - 1002036432
*/
.homepage {
    display: block;
    align-items: center;
    justify-content: center;
}

.img-div { 
    width: 100%; 
    display: flex; 
    align-items: center; 
    color: white;
}

/* Wrapper styles */
.wrapper {
    width: 35%;
    border-radius: 2px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px auto;
  }
  
  /* Form box h2 styles */
  .form-box h2 {
    font-size: 2em;
    color: #000000;
    text-align: center;
  }

  .forgot-password {
    font-size: .9em; /* The value .9em is equivalent to the current font size of the element's parent. */
    color: black; /* the color for the text*/
    font-weight: 500;
  }
  
  /* Forgot password label input styles */
  .forgot-password label input {
    accent-color: black;
  }
  
  /* Forgot password link styles */
  .forgot-password a {
    color: black; /* the color for the text */
    text-decoration: none;
  }
  
  /* Forgot password link hover styles */
  .forgot-password a.hover {
    text-decoration: underline;
  }
  
  /* General button styles */
  .btn {
    width: 30%;
    height: 35px;
    background: purple; /* the background color for the submit button */
    border: none;
    border-radius: 2px;
    cursor: pointer;
    font-size: 1em;
    color: #fff;
    font-weight: 500;
    margin-top: 10px;
  }

  /* Login and register section styles */
  .login-register {
    font-size: .9em; /* The value .9em is equivalent to the current font size of the element's parent. */
    color: black; /* the color for the text */
    text-align: center;
    font-weight: 500;
  }
  
  /* Login and register paragraph link styles */
  .login-register p a {
    color: black;  /* the color for the text */
    text-decoration: none;
    font-weight: 600;
  }
  
  /* Login and register paragraph link hover styles */
  .login-register p a:hover {
    text-decoration: underline;
  }
  
  .error {
    color: red;
    margin: 10px;
    margin-bottom: 20px;
    font-size: 12px;
  }